<!DOCTYPE html>
<html lang="en">
<head>
    <title><%= title %></title>
</head>
<body>
    <h1><%= title %></h1>
    <a href="/">Back</a><br>
    <a href="/category/add">New Category</a>
    <ul>
        <% categories.forEach(category => { %>
            <li>Name: <%= category.name %> <a href="/category/<%= category.id %>/edit">Edit</a>
            <form action='/category/<%= category.id %>/delete' method='POST' style='display:inline;'>
            <button type="submit" onclick="return confirm('All items within this category will be deleted.  Are you sure you want to delete?');">Delete</button>
          </form>
            </li>
        <% }); %>
    </ul>
</body>
</html>