<!DOCTYPE html>
<html lang="en">
<head>
    <title><%= title %></title>
</head>
<body>
    <h1><%= title %></h1>
    <a href="/item/add">Add Item</a>
    <ul>
        <% items.forEach(item => { %>
            <li>Name: <%= item.name %>, Category: <%= item.category %>, Stock: <%= item.stock %> 
            </li>
        <% }); %>
    </ul>
</body>
</html>